header{
    text-align: center;
}
section.hea{
    background: color #e5e5e5;
    display: block;
    background-size: cover;
}

section.contenedor{
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 188px;
    background-color:#c4c4c4;
    left: 0px;
    top: 188px;

}

h1.texto{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 29,64px;
    color:#005677;
    letter-spacing: 4px;
    word-spacing: 9px;
    width: 1013px;
    height: 30px;
    top: 203px;
    left: 213px;
}

body .logito {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin: auto;
    background-color: #e6e6e6;
}

ul li{
    list-style: none;
}

section .texto-celeste {
    color:#005677;
    background-color: #c4c4c4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 16,94px;
    font-style: normal;
    font-weight: 700;  
    display: block; 
}

p.footeriano{
    color: #FFFFFF;
    background-color:#005677 ;
    font-variant: inherit;
    text-align: center;
}

section.logo{
    width: 20px;
    height: 20px;
    left: 772px;
    top: 996px;
}




